@media (min-width: 768px) and (max-width: 1049px) {

	.wrapper_bm {
		display: block;
	}

	#nokno {
		display: block;
	}

	.okno {
		width: 45%;
        height: 100vh;
        position: absolute;
        padding-left: 5%;
        top: 0;
        left: -50%;
        background-color: rgba(39, 39, 39, 0.6);
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        transition: 2s;
    }

	.menubur {
		width: 60px;
		height: 60px;
		left: 40px;
		background-color: black;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		transition: 1s;
	}
	
	.line1, .line2, .line3, .line4 {
		background-color: #fff;
		width: 60%;
		height: 3px;
		position: absolute;
		transition: .5s all;
	}
	
	.line1 {
		top: 16px;
	}
	
	.line2 {
		top: 28px;
	}
	
	.line3 {
		top: 28px;
	}
	
	.line4 {
		top: 41px;
	}
	
	.mlon {
		width: 60px;
		height: 60px;
		background-color: black;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		margin-right: 20px;
		margin-top: 20px;
	}
	
	.lin1, .lin2, .lin3, .lin4 {
		background-color: #fff;
		width: 60%;
		height: 3px;
		position: absolute;
		transition: .5s all;
	}
	
	.lin1 {
		top: 16px;
		display: none;
	}
	
	.lin2 {
		top: 28px;
		transform: rotate(45deg);
	}
	
	.lin3 {
		top: 28px;
		transform: rotate(-45deg);
	}
	
	.lin4 {
		top: 41px;
		display: none;
	}
	
	nav.podokno {
		width: 100%;
	}
	
	.nko {
		list-style: none;
		margin-bottom: 30px;
		transition: 2s;
	}
	
	.nko:hover {
		transform: translate(20px);
		transition: 2s;
	}
	
	.okn {
		color: whitesmoke;
		font-size: 20pt;
		text-decoration: none;
		font-family: sans-serif;
	}   
	
	.bon {
		list-style: none;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	
	.nob {
		color: whitesmoke;
		font-size: 30pt;
		text-decoration: none;
		text-transform: uppercase;
	}
	
	.menu {
		display: none;
	}
	
	.header-logo {
		text-align: center;
		font-size: 64px;
	}

	.main-zone-2 {
		flex-wrap: wrap;
	}

	.mini-zone-1-text, .mini-zone-2-text, .mini-zone-3-text {
		margin-bottom: 50px;
	}

	.main-text-1 {
		padding-left: 26px;
		padding-right: 26px;
	}

	.big-main-zone-2 {
		padding-top: 50px;
	}

	.main-zone-5 {
		width: 653px;
		margin-left: -350px;
	}

	.mini-zone-1 {
		width: 160px;
	}
	
	.main-zone-5 img {
		width: 160px;
	}

	.main-text-3, .main-text-4 {
		width: 43%;
	}

	.main-logo-3 {
		margin-top: 60px;
	}

	.navigation-2 {
		width: 78%;
	}

	.main-zone-7 {
		width: 100%;
		justify-content: center;
	}

	.main-zone-7 arcticle {
		margin-left: 10px;
	}
	
	.zone-bmz5-1 {
		width: 85%;
	}

	.main-zone-bmz5-1 {
		flex-direction: column;
	}

	.main-zone-bmz5-1 {
		margin-bottom: 27px;
	}

	.main-image-bmz5-2 {
		margin-bottom: 30px;
	}

	.main-text-bmz5-1 {
		font-size: 22px;
		padding-left: 40px;
		padding-right: 40px;
	}

	.main-zone-bmz5-1 {
		align-items: center;
	}

	.main-image-bmz5-1 {
		margin-right: 0;
	}

	.main-image-bmz5-2 {
		margin-right: 0;
	}

	.main-zone-bmz6-1 {
		flex-wrap: wrap;
	}

	.carousel-container {
		max-width: 75%;
		height: 230px;
	}

	.big-mini-zone-bmz7 {
		flex-wrap: wrap-reverse;
	}

	.main-subtext-bmz7-2 {
		font-size: 15px;
		line-height: 45px;
	}

	.span-bmz7 {
		margin-left: 15px;
	}

	.main-bigtext-bmz7 {
		display: flex;
		flex-direction: row;
	}

	.main-zone-bmz7-1 {
		margin-right: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 30px;
	}

	.main-email-bmz7 {
		margin-bottom: 0;
	}

	.main-address-bmz7 {
		width: 283px
	}

	.big-main-zone-7 {
		margin-bottom: 50px
	}
}